

@font-face {
    font-family: 'Qanelas';
    src: url('../Qanelas-SemiBold.woff2') format('woff2'),
        url('../Qanelas-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../Qanelas-ExtraBold.woff2') format('woff2'),
        url('../Qanelas-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../Qanelas-Medium.woff2') format('woff2'),
        url('../Qanelas-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../Qanelas-Bold.woff2') format('woff2'),
        url('../Qanelas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../Qanelas-Regular.woff2') format('woff2'),
        url('../Qanelas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../Qanelas-Black.woff2') format('woff2'),
        url('../Qanelas-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

